<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - PM Tool Inc - <a asp-area="" asp-controller="Home" asp-action="About"><i class="fa-solid fa-circle-info"></i> About</a>
    </div>
</footer>