@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";
    
    //Define variable profile variables
    var name = "Karen Amadi";
    var studentNumber = "101511541";
    var courseCode = "COMP 2139";
    var courseSection = "50262";
}

<h2>About</h2>
<div>
    <h2>Welcome to my Application</h2>
    <p>Name:@name</p>
    <p>Student ID:@studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Section: @courseSection</p>
</div>