@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center p-4 bg-light shadow rounded">
        <h1 class="display-4 font-weight-bold">COMP 2139-ICE</h1>
        <p class="lead text-muted">Project Management Tool for Efficient Collaboration</p>
    </div>
</div>